/*Formatting for the entire page*/
*
{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}
/*The scroll-behavior function is used to make the page scroll smoothly when the buttons in the top bar are clicked*/
html
{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-weight: 500;
}
/*The top menu bar and associated buttons*/
.menu ul {
    display: inline-flex;
    margin: 20px;
    text-decoration: none;

}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: none;
}
li a
{
    text-decoration: none;
}
/*The secret adventure title*/
.topTitle{
    color: black !important;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap
}
h1
{
    text-align: center;
}

a .play-btn a:hover
{
    background-color: #E3D461;
    color: cornflowerblue;
}
.section1
{
    background-color: #E3D461;
    width: 100%;
    height: 60px;
    position: fixed;
}
.title
{
    color: white;
    font-weight: bold;
    text-align: center ;
    font-size: 500%;
    position: center;
    padding-top: 150px;
}
/*The top bar section ends, this is the rest of the page*/
.Sunset
{
    background-image: url("Sunsetbig.png");
    width: 100%;
    height: 950px;
    min-height: 60vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.blackline
{
    background-color: gold;
    width: 100%;
    height: 20px;
}
.section2{
    background-color: #E3D461;
    width: 100%;
    height: 600px;
    display: block;
}
.section3{
    background-color: #E3D461;
    width: 100%;
    height: 600px;
}
/*About us section*/
.section4{
    background-color: #e39361;
    width: 100%;
    height: 600px;
}
.section5{
    background-color: #E3D461;
    width: 100%;
    height: 600px;
}
/*The big play button in the middle of the page*/
.btn
{
    background-color: #E3D461;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    display: grid;
    width: 250px;
    height: 50px;
    font-size: 30px;
}
.button
{
    padding-top: 300px;
}
/*The game story section above the about game section*/
.gamesStory {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    font-size: 25px;
}
/*The about game section that is beneath the gamesStory*/
.About-game-text
{
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

/*The about us section of the page*/
.About-us-text
{
    position: relative;
    bottom: 90px;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 10%;
}
/*The images in the about us section. Notable issues are that they only display when in mobile view, and overlay the top bar*/
.infomage
{
    height: 100px;
    width: auto;
    position: relative;
    left: 410px;
}
footer
{
    position: relative;
    top:1000px;
    width: 100%;
    height: 150px;
    background-color: black;
}
/*Imported Twitter timeline embed, it is shifted to the left, something which we could not find a fix for*/
#twitter-timeline
{
 position: relative;
 left: 500px;
}
/*Imported Instagram feed embed, it overlays over the top bar but otherwise adapts fine for both mobile and desktop views.*/
.instagram-media
{
    position:relative;
    left: 500px;
}
.about
{
}
/*Feature used to make the pages more mobile friendly, it adapts the size and position of the items of the page
if its width is smaller than 1000px*/
@media only screen and (max-width: 1000px)
{
    .section1
    {
        height: 200px;
    }
    .topTitle
    {
        position: relative;
        top: 20px;
        left: 70px;
    }
    .active
    {
        position: relative;
        top: 50px;
        right: 100px;
    }
    #aboutList
    {
        position: relative;
        top: 80px;
        right: 340px;
        overflow: hidden;
        white-space: nowrap;
    }
    #news
    {
        position: relative;
        top: 110px;
        right: 210px;
        overflow: hidden;
        white-space: nowrap;
    }
    #socialsList a
    {
        position: relative;
        top: 140px;
        right: 450px;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
    }
    .play-btn
    {
        display:none;
    }
    footer
    {
        display:none;
    }
}
.instagram-media
{
    position: absolute;
    right: 2500px;
}
img
{
    display: block;
    width: 60%;
    margin-left: -150%;
    margin-right: 0;
}

