*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-weight: 500;
}
.menu ul {
    display: inline-flex;
    margin: 20px;
    text-decoration: none;

}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: none;
}
.topTitle{
    color: black !important;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap
}

a .play-btn a:hover
{
    background-color: #E3D461;
    color: cornflowerblue;
}
.section1 {
    background-color: #E3D461;
    width: 100%;
    height: 60px;
    position: fixed;
}
.Sunset{
    background-image: url("Sunsetbig.png");
    width: 100%;
    height: 950px;
    min-height: 60vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 500%;
    position: center;
    padding-top: 150px;
}

.section2{
    background-color: #e39361;
    width: 100%;
    height: 600px;
    display: block;
}
.section3{
    background-color: #E3D461;
    width: 100%;
    height: 600px;
}
.section4{
    width: 100%;
    height: 600px;
    background-color: #e39361;
}
.btn{
    background-color: #E3D461;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    display: grid;
    width: 250px;
    height: 50px;
    font-size: 30px;
}
.blackline{
    width: 100%;
    height: 10px;
    background-color: black;
}

.button{
    padding-top: 300px;
}
.gamesStory {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 10%;
    font-size: 150%;
}
.About-us-text{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

.About-game-text{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

/*.map{
    position: center;
    text-align: center;
    background-repeat: no-repeat;
    margin-left: 400px;
    height: 700px;
    width: 800px;
    margin-top: -80px;
}*/
footer{
    width: 100%;
    height: 150px;
    background-color: black;

}
footer h1{
    color: #E3D461;

}
