
.title{
    font-size: 50px;
    font-family: "HoloLens MDL2 Assets";
    margin-top: 100px;
    font-weight: bold;
    color: #f2f2f2;
    position: center;

}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */

    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar #playButton
{
    float:left;
    display: block;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.btn {
    background-color: lemonchiffon;
    font-size: 50px;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px darkgoldenrod;
    font-family: "Burbank Big Cd Bk", "Fira Code";
    text-align: center;
    margin: auto;
    display: flex;
    top: 50%;
}
html {
   background-color: lightgreen;
    background-size: cover;
    background-image: url("TestPhoto.png");
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
.box{
   border: 2px darkgoldenrod;
    width: 40%;
    height: 40%;
    background-color: lightskyblue;
    opacity: 80%;
    margin: auto;
}
.boxes{
    display: block;
    justify-content: space-around;
    margin-top: 100px;
}
.text1{
font-family: "JetBrains Mono Medium";
    padding: 20px;
    font-size: 20px;
}
.map {
    background-image: url("img_Treasure.png");
    background-size: cover;
}
.twitter {
    align-content: center;
    margin: auto;
    width: 40%;
    height: 25%;

}
.subtitle {
    color: white;
    font-size: 250%;
    padding: 15%;
}

.subtitlebox {
    border: 50px darkgoldenrod;
    width: 50%;
    height: 10%;
    background-color: burlywood;
    opacity: 100%;
    margin: auto;
    background-image: url("img_Treasure.png");
    background-repeat: no-repeat;
    background-size: 500px;

}
@media only screen and (max-width: 1000px)
{
    .title
    {
        text-align: center;
    }
    .navbar #playButton
    {
        font-size: large;
        text-align: center;
        alignment: center;
        position: relative;
        left: 150px;
    }
    .text1
    {
        font-size: medium;
    }
    .subtitle
    {
        font-size: medium;
        color: white;
    }
    .box
    {
        font-size: small;
    }
}