*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-weight: 500;
}
.menu ul {
    display: inline-flex;
    margin: 20px;
    text-decoration: none;

}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: none;
}
.topTitle{
    color: black !important;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap
}
.play-btn{
    top: 10px;
    padding-left: 800px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    border: black;
}

a .play-btn a:hover
{
    background-color: #E3D461;
    color: cornflowerblue;
}
.section1 {
    background-color: #E3D461;
    width: 100%;
    height: 60px;
    position: fixed;
}
.Sunset{
    background-image: url("Sunsetbig.png");
    width: 100%;
    height: 950px;
    min-height: 60vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color: white;
    font-weight: bold;
    text-align: center ;
    font-size: 500%;
    position: center;
    padding-top: 150px;
}
.blackline{
    background-color: #E3D461;
    width: 100%;
    height: 20px;
}

.section2{
    background-color: #E3D461;
    width: 100%;
    height: 600px;
    display: block;
}
.section3{
    background-color: #E3D461;
    width: 100%;
    height: 600px;
}
.btn{
    background-color: #E3D461;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    display: grid;
    width: 250px;
    height: 50px;
    font-size: 30px;
}

.button{
    padding-top: 300px;
}
.gamesStory {
    text-align: left;
    position: relative;
    right: 50px;
    font-size: 30px;
    font-family: "Fira Code";
    font-weight: bold;
    max-width: 600px;
    margin-left: 525px;
    border-color: black;
    border-width: 50px;
}
/*.map{
    position: center;
    text-align: center;
    background-repeat: no-repeat;
    margin-left: 400px;
    height: 700px;
    width: 800px;
    margin-top: -80px;
}*/

