html {
    background-color: #E3D461;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.section1
{
    background-color: darkolivegreen;
    width: 100%;
    height: 60px;
}
li a {
    color: #E3D461 !important;
    text-decoration: none;
}
li
{
    color: #E3D461;
}
.topTitle
{
    color: #E3D461; !important;
}
.menu ul {
    display: inline-flex;
    margin: 20px;
    text-decoration: none;
}
ul
{
    color: #E3D461; !important;
}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: none;
}
.login{
    margin-top: 15%;
    padding-left: 40%;
}
#title-login{
    font-size: 200%;
}
#info-name{
    font-size: 150%;
}
#info-btn{
    font-size: 100%;
    padding-left: 25%;
}
@media only screen and (max-width: 1000px)
{
    .section1
    {
        height: 155px;
    }
    .topTitle
    {
        position: relative;
        top: 10px;
        left: 90px;
        overflow: hidden;
        white-space: nowrap;
    }
    #home
    {
        color: #E3D461;
        position: relative;
        top: 40px;
        right: 60px;
        overflow: hidden;
        white-space: nowrap;
    }

    #about
    {
        color: #E3D461 !important;
        position: relative;
        top: 70px;
        right: 300px;
        overflow: hidden;
        white-space: nowrap;
    }
    #new
    {
        position: relative;
        top: 99px;
        right: 175px;
        overflow: hidden;
        white-space: nowrap;
    }
    #socialsList a
    {
        position: relative;
        top: 140px;
        right: 450px;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
    }
    .play-btn
    {
        display:none;
    }
    #title-login
    {
    position: relative;
    right: 40px;
    }
    .player-name
    {
        position: relative;
        right: 50px;
    }
    #btn
    {
        position: relative;
        top: 1000px;
        color: #E3D461;
    }
}

