/*Formatting for the entire page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*The top menu bar and associated buttons*/
.menu-container
{
    padding-top: 5%;
}
.section1 {
    background-color: #E3D461;
    width: 100%;
    height: 60px;
    position: fixed;
}
.menu ul
{
    display: inline-flex;
    margin: 20px;
    text-decoration: none;

}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: none;
}
/*Positioning of burger and home icon*/
input
{
    position: relative;
    right: 20px;
    height: 50px;
}
/*Challenges script formatting*/
#challenges a
{

    text-decoration: none;
    position: relative;
    top: 20px;
    margin-top: 10%;

    padding-left: 45%;
    font-weight: bold;
}
li{
    text-decoration: none;
}

.title1
{
    padding-left: 42%;
    position: relative;
   bottom: 120px;
}
/*Feature used to make the pages more mobile friendly, it adapts the size and position of the items of the page
if its width is smaller than 1000px*/
@media only screen and (max-width: 1000px)
{
    input
{
    position: relative;
    right: 10px;
    top: 5px;
}
    .title1
    {
        position: relative;
        right: 70px;
        bottom: 70px;
    }
    #challenges
    {
        position: relative;
        top: 100px;
        right: 50px;
    }
}
