*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.menu ul{
    display: inline-flex;
    margin: 20px;
}
.menu li{
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor: pointer;
    padding-left: 10px;
}
input
{
    position: relative;
    top: 5px;
    right: 20px;
    height: 50px;
}
/*Burger menu icon*/
#burgir
{
    position: relative;
    top: -47px;
    left: 50px;
    height: 50px;
}
.section1{
    background-color: #E3D461;
    width: 100%;
    height: 60px;
    position: fixed;
}
.section2{
    background-image: url("Sunsetbig.png");
    width: 100%;
    height: 1080px;
}
/*Background of the game border*/
.gameBackground {
    background-color: #e39361;
    position: absolute;
    height: 75%;
    width: 80%;
    left: 10%;
    top: 15%;
    padding: 2% 2% 2% 2%;
}
.Qbackground{
    background-color: coral;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
}
.play-btn{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
#question{
    padding: 5% 5% 5% 5%;
    width: 100%;
    max-font-size: 600%;
}
#integer-answer{
    width: 25%;
    height: 50px;
   margin-left: 5%;
}
#answer-a:hover {
    background-color: #3897f0;
}
#answer-b:hover {
    background-color: #E3D461;
}
#answer-c:hover {
    background-color: gold;
}
#answer-d:hover{
    background-color: olive;
}
#true-answer:hover{
    background-color: #E3D461;
}
#false-answer:hover{
    background-color: #E3D461;
}

#submit{
    width: 80px;
    height: 40px;
    margin-left: 5%;
}
#skipBtn{
    width: 100px;
    height: 40px;
    margin-left: 5%;
}
.choice-text{
    width: 100%;
    padding-left: 10%;
}
.choice-prefix{
    padding-left: 5%;
    width: 10%;
    padding-top: 1%;
    top: 50%;
}
#hud {
    display: flex;
    justify-content: space-between;
}
/*Feature used to make the pages more mobile friendly, it adapts the size and position of the items of the page
if its width is smaller than 1000px*/
@media only screen and (max-width: 1000px)
{
    .gameBackground
    {
        height: 300px;
    }
}